<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contador de palabras</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header class="cabecera">Contador de palabras</header>
    <main class="cuerpo">
        <div class="contenido">   
            <section class="container_forms">
                    <div class="form_cont">
                        <form action="/home/save" method="post" id="form1">
                            <div class="form">
                                <label for="input1">Entrada</label>
                                <textarea name="input_texto" id="input1" placeholder="Ingrese el texto a procesar"><%=datos_entrada%></textarea>
                                <button type="submit" id="ag">Procesar</button>
                            </div>
                        </form>
                    </div>
                    <div class="form_cont">
                        <form action="/home/save_banned" method="post" id="form2">
                            <div class="form">
                                <label for="input">Palabras prohibidas</label>
                                <textarea name="input_banned" id="input" placeholder="ingresa las palabras prohibidas (una por linea)"><%= datos_ban %></textarea>
                                <button type="submit" id="ag">Guardar</button>
                            </div>
                        </form>
                    </div>
            </section>
            <div class="salida">
                <label for="salida">Salida</label>
                <textarea name="salida" id="salida" disabled="true" ><%= data_final %></textarea>
            </div>
        </div>
       
        
    </main>
</body>
</html>